{{ $paginator := .Paginate (where .Data.Pages "Section" "in" .Site.Params.mainSections) }}
{{ range $index, $page := $paginator.Pages }}
<article class="article article-type-post" itemscope="" itemprop="blogPost">
    <div class="article-inner">
        {{ if and (isset $page.Params "banner") (not (eq $page.Params.banner "")) }}
        <a href="{{ $page.Permalink }}" itemprop="url">
            <img src="{{ $page.Params.banner | absURL }}" class="article-banner">
        {{ end }}
        </a>

        {{ partial "article_header" $page }}
        <div class="article-entry" itemprop="articleBody">
            <p>
                {{ $page.Description | default $page.Summary }}
            </p>
            <p class="article-more-link">
                <a href="{{ $page.Permalink }}">
                    {{with $page.Site.Data.l10n.articles.read_more}}{{$page}}{{end}}
                </a>
            </p>
        </div>
        {{ partial "article_footer" $page }}
    </div>
    {{ if eq $index 0 }}
<div>
<br />
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-side"
     data-ad-layout-key="-fg+5r+6l-ft+4e"
     data-ad-client="ca-pub-7806207257576767"
     data-ad-slot="7852955014"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
    {{ end }}
</article>
{{ end }}

{{ partial "pagination" . }}